* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f2f3f4;
}
.slide h5 {
	text-decoration: line-through;
	color: gray;
}
.czerwony {
	top: 1333px;
	right: 300px;
	width: 60px;
	height: 3px;
	background: #f74137 0% 0% no-repeat padding-box;
	opacity: 1;
	z-index: 999;
}
button {
	position: absolute;
	bottom: -850px;
	right: 710px;
	padding: 20px;
	background-color: #f74137;
	border-color: #f74137;
	text-align: center;
	font: normal normal bold 14px/17px Metropolis;
	letter-spacing: -0.28px;
	color: #ffffff;
	text-transform: uppercase;
	opacity: 1;
	cursor: pointer;
}
#container {
	height: 100vh;
	display: grid;
	place-items: center;
}
h2 {
	text-align: center;
	margin-top: 200px;
	font-size: 40px;
	font: normal normal bold Metropolis;
	height: 71px;
	border-bottom: 1px solid black;
}
#container::after {
	border: red;
	position: absolute;
	width: 60px;
	height: 50px;
	top: 0;
}

#slider-container {
	height: 500px;
	width: 100vw;
	max-width: 1500px;
	position: relative;
	overflow: hidden;
	padding: 20px;
	border: 1px solid black;
}

#slider-container .btn {
	position: absolute;
	top: calc(50% - 10px);
	height: 15px;
	width: 15px;
	border-top: 8px solid #696969;
	border-left: 8px solid #696969;
	cursor: pointer;
}

#slider-container .btn.inactive {
	border-color: #282828;
}

#slider-container .btn:first-of-type {
	transform: rotate(-45deg);
	left: 10px;
}

#slider-container .btn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
}

#slider-container #slider {
	display: flex;
	width: 600%;
	height: 100%;
	transition: all 0.5s;
}

#slider-container #slider .slide {
	height: 90%;
	margin: auto 10px;
	background-color: white;
	box-shadow: 2px 2px 4px 2px white;
	display: grid;
	place-items: center;
}
#slider-container #slider img {
	display: block;
	width: 40%;
	margin: 20px auto 0;
}

@media only screen and (min-width: 1100px) {
	#slider-container #slider .slide {
		width: calc(3.3333333% - 20px);
	}
}
@media only screen and (max-width: 900px) {
	#slider-container #slide .slide {
		width: calc(5% - 20px);
	}
}
@media only screen and (max-width: 550px) {
	#slider-container #slider .slide {
		width: calc(10% - 20px);
	}
}
.wrapper {
	width: 100px;
	height: 50px;
	margin-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fff;
}
.wrapper span {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 55px;
	font-weight: 600;
	cursor: pointer;
}
.wrapper span.minus {
	font: normal normal normal 14px/20px Metropolis;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}
.wrapper span.plus {
	font: normal normal normal 14px/20px Metropolis;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}
.wrapper span.num {
	font: normal normal normal 14px/20px Metropolis;
	background-color: #f8f8f8;
	line-height: 3.5;
}
.basket-next-price {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	width: 50px;
	height: 50px;
	margin-left: 170px;
	margin-top: -80px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.basket-next-price img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
}
.left {
	position: absolute;
	left: 1475px;
}

.right {
	position: absolute;
	right: 400px;
}

/*# sourceMappingURL=lightbulbs.css.map */