@use'../scss/fonts';
@use '../scss/variables';


.body{
    font-family: 'Metropolis', sans-serif;
}

.footer{
    background-color: #393E40;
    color: #FFF;
    font-size: 4px;
    padding: 0px 10px 30px;
}

.footer__mobile-view-btn{
    height: 16px;
}

.footer-plus {
    content: url(./svg/plus.svg);
    height: 100%;
}

.footer-minus{
    content: url(./svg/minus.svg);
    height: 100%;
}

.footer__list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-direction: column;
    padding: 16px;
}

.footer__item{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.footer__heading {
    text-align: start;
    padding: 10px 0 0;
    font-weight: variables.$bold;
    display: flex;
    justify-content: space-between;
}

.footer__line{
    width: 100%;
    padding: 20px 0px 40px;

    .line{
        float: left;
        height: 1px;
    }
}


.footer__line-color-red{
    background-color: #F74137;
    width: 7%;
    opacity: 1;
}

.footer__line-color-whtie{
    background-color: #FFF;
    width: 93%;
    opacity: 0.4;
}

.footer__nested-list{
    flex-direction: column;
    list-style: none;
    display: none;
}

.footer__nested-list-item{
    margin: 0px;
}

.footer__nested-list-item-paragraph{
    text-align: start;
    padding: 15px 0px;
}

.footer__nested-list-item-anchor{
    text-decoration: none;
    color: #FFF;
    font-weight: variables.$regular;
}

.copyright{
    background-color: white;
    color: black;
    padding: 20px 30px;
}

.footer__list{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer__item{
    list-style: none;
    text-align: center;
    font-weight: variables.$regular;
}

@media (min-width: 768px) {
    .footer {
        .footer__mobile-view-btn {
            display: none;
        }

        .footer__btn-icon {
            display: none;
        }

        .footer__list {
            flex-direction: row;
            width: 100%;
            padding: 0;
        }

        .footer__item {
            width: 90%;
        }

        .footer__nested-List {
            display: block !important;
        }
    }

    .copyright {
        .footer {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media (max-width: 767px) {
    .copyright {
        padding-bottom: 79px;
    }
}