.body{
    font-family: 'Metropolis', sans-serif;
}

.footer{
    background-color: #393E40;
    color: #FFF;
    font-size: 4px;
    padding: 0px 10px 30px;
}

&__mobile-view-btn{
    height: 16px;
}

.footer-plus {
    
}
