* {
	margin: 0;
	padding: 0;
}

.lightbulbsSection {
	background-color: #f2f3f4;
}
.lightbulbsRecommendation-text h2 {
	text-align: center;
	margin-top: 2%;
	font-size: 40px;
}
.lightbulbsSection .lightbulbsRecommendation-text {
	position: relative;
	font-size: 30px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid gray;
}
.lightbulbsSection .lightbulbsRecommendation-text::after {
	height: 3px;
	width: 60px;
	background-color: #f74137;
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
}
.lightbulbs-button {
	font-weight: bold;
	background-color: #f74137;
	color: #ffffff;
	font-size: 17px;
	border: 0;
	width: 318px;
	height: 55px;
	display: block;
	margin: auto;
	cursor: pointer;
	margin-bottom: 3%;
}
.slide h5 {
	text-decoration: line-through;
	color: gray;
}

#lightbulbsContainer {
	height: 70vh;
	display: grid;
	place-items: center;
}

#lightbulbsContainer::after {
	border: red;
	position: absolute;
	width: 60px;
	height: 50px;
	top: 0;
}

#lightbulbsSliderContainer {
	height: 500px;
	width: 100vw;
	max-width: 1500px;
	position: relative;
	overflow: hidden;
	padding: 20px 0px;
}

#lightbulbsSliderContainer .lightbulbsBtn {
	position: absolute;
	top: calc(50% - 10px);
	height: 15px;
	width: 15px;
	border-top: 8px solid #696969;
	border-left: 8px solid #696969;
	cursor: pointer;
}

#lightbulbsSliderContainer .lightbulbsBtn.inactive {
	border-color: #282828;
}

#lightbulbsSliderContainer .lightbulbsBtn:first-of-type {
	transform: rotate(-45deg);
	left: 10px;
}

#lightbulbsSliderContainer .lightbulbsBtn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
	left: 98%;
}

#lightbulbsSliderContainer #bulbSlider {
	display: flex;
	width: 600%;
	height: 100%;
	transition: all 0.5s;
}

#lightbulbsSliderContainer #bulbSlider .bulbSlide {
	height: 90%;
	margin: auto 10px;
	background-color: white;
	box-shadow: 2px 2px 4px 2px white;
	display: grid;
	place-items: center;
	bottom: -130px;
	transition: 0.6s;
}

#lightbulbsSliderContainer #bulbSlider img {
	display: block;
	width: 40%;
	margin: 20px auto 0;
}

@media only screen and (min-width: 1100px) {
	#lightbulbsSliderContainer #bulbSlider .bulbSlide {
		width: calc(3.3333333% - 20px);
	}
}
.bulbSlide .lightbulbsWrapper {
	width: 100px;
	height: 80px;
	padding-bottom: 40px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bulbSlide .lightbulbsWrapper span {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 55px;
	font-weight: 600;
	cursor: pointer;
}

.bulbSlide .lightbulbsWrapper span.minus {
	font: normal normal normal 14px/20px Metropolis;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulbSlide .lightbulbsWrapper span.plus {
	font: normal normal normal 14px/20px Metropolis;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulbSlide .lightbulbsWrapper span.num {
	font: normal normal normal 14px/20px Metropolis;
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulbSlide .basket-next-price {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	width: 50px;
	height: 42px;
	margin-left: 110px;
	margin-top: -80px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.bulbSlide .basket-next-price img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

#lightbulbsSliderContainer .left {
	position: absolute;
	left: 1475px;
}

#lightbulbsSliderContainer .right {
	position: absolute;
	right: 400px;
}

#bulbSlider .slideHover {
	display: none;
}

#bulbSlider .bulbSlide:hover .slideHover {
	display: block;
}

.ResponsiveLaptopLightbuls {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	padding: 1rem;
	display: none;
}

.ResponsiveLaptopLightbuls .LaptopLightbulbsProducts {
	display: flex;
	grid-gap: 1rem;
	max-width: 1168px;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
}

.LaptopLightbulbsProducts  .LaptopLightbulbsSlider {
	min-width: calc(32.7% - 0.5rem);
	aspect-ratio: 1/1;
	height: 500px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	display: grid;
	place-items: center;
	color: #202020;
	text-align: center;
	scroll-snap-align: start;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.LaptopLightbulbsProducts  .LaptopLightbulbsSlider h5 {
	text-decoration: line-through;
	font-size: 15px;
	color: rgb(162, 162, 162);
}

.LaptopLightbulbsProducts  .LaptopLightbulbsSlider .basket-next-price {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	border-radius: 20px;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.ResponsiveMobileLightbulbs  {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	padding: 1rem;
	display: none;
}

.ResponsiveMobileLightbulbs  .MobileLightbulbsProducts {
	display: flex;
	grid-gap: 1rem;
	max-width: 568px;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
}

.MobileLightbulbsProducts .MobileLightbulbsSlider {
	min-width: calc(49% - 0.5rem);
	aspect-ratio: 1/1;
	height: 500px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	display: grid;
	place-items: center;
	color: #202020;
	text-align: center;
	scroll-snap-align: start;
	font-weight: 600;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.MobileLightbulbsProducts .MobileLightbulbsSlider h5 {
	text-decoration: line-through;
	font-size: 15px;
	color: rgb(70, 69, 69);
}

.MobileLightbulbsProducts .MobileLightbulbsSlider .basket-next-price2 {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	border-radius: 20px;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media (min-width: 1170px) {
	#lightbulbsContainer {
		display: grid;
	}
}
@media (min-width: 779px) and (max-width: 1169px) {
	#lightbulbsContainer {
		display: none;
	}
	.ResponsiveLaptopLightbuls {
		display: flex;
	}
	.ResponsiveMobileLightbulbs  {
		display: none;
	}
}
@media (min-width: 340px) and (max-width: 778px) {
	#lightbulbsContainer {
		display: none;
	}
	.ResponsiveLaptopLightbuls {
		display: none;
	}
	.ResponsiveMobileLightbulbs  {
		display: flex;
	}
	.MobileLightbulbsSlider span,
	h4 {
		font-size: 15px;
	}
}