* {
	margin: 0;
	padding: 0;
}

.lightbulbs__Section {
	background-color: #f2f3f4;
}
.lightbulbs__Recommendation-text h2 {
	text-align: center;
	margin-top: 2%;
	font-size: 40px;
}
.lightbulbs__Section .lightbulbs__Recommendation-text {
	position: relative;
	font-size: 30px;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid gray;
}
.lightbulbs__Section .lightbulbs__Recommendation-text::after {
	height: 3px;
	width: 60px;
	background-color: #f74137;
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
}
.lightbulbs-button {
	font-weight: bold;
	background-color: #f74137;
	color: #ffffff;
	font-size: 17px;
	border: 0;
	width: 318px;
	height: 55px;
	display: block;
	margin: auto;
	cursor: pointer;
	margin-bottom: 3%;
}
.slide h5 {
	text-decoration: line-through;
	color: gray;
}

#lightbulbs__Container {
	height: 70vh;
	display: grid;
	place-items: center;
}

#lightbulbs__Container::after {
	border: red;
	position: absolute;
	width: 60px;
	height: 50px;
	top: 0;
}

#lightbulbs_SliderContainer {
	height: 500px;
	width: 100vw;
	max-width: 1500px;
	position: relative;
	overflow: hidden;
	padding: 20px 0px;
}

#lightbulbs_SliderContainer .lightbulbs__Btn {
	position: absolute;
	top: calc(50% - 10px);
	height: 15px;
	width: 15px;
	border-top: 8px solid #696969;
	border-left: 8px solid #696969;
	cursor: pointer;
}

#lightbulbs_SliderContainer .lightbulbs__Btn.inactive {
	border-color: #282828;
}

#lightbulbs_SliderContainer .lightbulbs__Btn:first-of-type {
	transform: rotate(-45deg);
	left: 10px;
}

#lightbulbs_SliderContainer .lightbulbs__Btn:last-of-type {
	transform: rotate(135deg);
	right: 10px;
	left: 98%;
}

#lightbulbs_SliderContainer #bulb__Slider {
	display: flex;
	width: 600%;
	height: 100%;
	transition: all 0.5s;
}

#lightbulbs_SliderContainer #bulb__Slider .bulb__SlideItem {
	height: 90%;
	margin: auto 10px;
	background-color: white;
	box-shadow: 2px 2px 4px 2px white;
	display: grid;
	place-items: center;
	bottom: -130px;
	transition: 0.6s;
}

#lightbulbs_SliderContainer #bulb__Slider img {
	display: block;
	width: 40%;
	margin: 20px auto 0;
}

@media only screen and (min-width: 1100px) {
	#lightbulbs_SliderContainer #bulb__Slider .bulb__SlideItem {
		width: calc(3.3333333% - 20px);
	}
}
.bulb__SlideItem .lightbulbs__Wrapper {
	width: 100px;
	height: 70px;
	padding-bottom: 40px;
	padding-left: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.bulb__SlideItem .lightbulbs__Wrapper span {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	cursor: pointer;
}

.bulb__SlideItem .lightbulbs__Wrapper span.minus {
	font: normal normal normal 14px/20px Metropolis;
	border-right: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulb__SlideItem .lightbulbs__Wrapper span.plus {
	font: normal normal normal 14px/20px Metropolis;
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulb__SlideItem .lightbulbs__Wrapper span.num {
	font: normal normal normal 14px/20px Metropolis;
	background-color: #f8f8f8;
	line-height: 3.5;
}

.bulb__SlideItem .lightbulbs__Basket {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	width: 50px;
	height: 42px;
	margin-left: 100px;
	margin-top: -70px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.bulb__SlideItem .lightbulbs__Basket img {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
	filter: opacity(0.5) drop-shadow(0 0 0 blue);
}

#lightbulbs_SliderContainer .left {
	position: absolute;
	left: 1475px;
}

#lightbulbs_SliderContainer .right {
	position: absolute;
	right: 400px;
}

#bulb__Slider .slide__Hover {
	display: none;
}

#bulb__Slider .bulb__SlideItem:hover .slide__Hover {
	display: block;
}

.Responsive__LaptopLightbuls {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	padding: 1rem;
	display: none;
}

.Responsive__LaptopLightbuls .Laptop__LightbulbsProducts {
	display: flex;
	grid-gap: 1rem;
	max-width: 1168px;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
}

.Laptop__LightbulbsProducts  .Laptop__LightbulbsSlider {
	min-width: calc(32.7% - 0.5rem);
	aspect-ratio: 1/1;
	height: 500px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	display: grid;
	place-items: center;
	color: #202020;
	text-align: center;
	scroll-snap-align: start;
	font-weight: 600;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.Laptop__LightbulbsProducts  .Laptop__LightbulbsSlider h5 {
	text-decoration: line-through;
	font-size: 15px;
	color: rgb(162, 162, 162);
}

.Laptop__LightbulbsProducts  .Laptop__LightbulbsSlider .lightbulbs__Basket {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	border-radius: 20px;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.Responsive__MobileLightbulbs  {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 60vh;
	padding: 1rem;
	display: none;
}

.Responsive__MobileLightbulbs  .Mobile__LightbulbsProducts {
	display: flex;
	grid-gap: 1rem;
	max-width: 568px;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
}

.Mobile__LightbulbsProducts .Mobile__LightbulbsSlider {
	min-width: calc(49% - 0.5rem);
	aspect-ratio: 1/1;
	height: 500px;
	width: 100%;
	background-color: #ffffff;
	border: 1px solid rgb(194, 194, 194);
	border-radius: 10px;
	display: grid;
	place-items: center;
	color: #202020;
	text-align: center;
	scroll-snap-align: start;
	font-weight: 600;
	font-size: 20px;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.Mobile__LightbulbsProducts .Mobile__LightbulbsSlider h5 {
	text-decoration: line-through;
	font-size: 15px;
	color: rgb(70, 69, 69);
}

.Mobile__LightbulbsProducts .Mobile__LightbulbsSlider .lightbuls_MobileBasket {
	background: #9bcb3b 0% 0% no-repeat padding-box;
	border-radius: 20px;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

@media (min-width: 1170px) {
	#lightbulbs__Container {
		display: grid;
	}
}
@media (min-width: 779px) and (max-width: 1169px) {
	#lightbulbs__Container {
		display: none;
	}
	.Responsive__LaptopLightbuls {
		display: flex;
	}
	.Responsive__MobileLightbulbs  {
		display: none;
	}
}
@media (min-width: 340px) and (max-width: 778px) {
	#lightbulbs__Container {
		display: none;
	}
	.Responsive__LaptopLightbuls {
		display: none;
	}
	.Responsive__MobileLightbulbs {
		display: flex;
	}
	.Mobile__LightbulbsSlider span,
	h4 {
		font-size: 15px;
	}
}
