@font-face{
	font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'Metropolis-light';
    src: url(../fonts/Metropolis-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

// 985- mobile
// 1200- tablet
// 1200+ desktop

body{
	margin: 0;		
	font: normal normal 14px/14px Metropolis;
	text-transform: uppercase;
	letter-spacing: -0.28px;
	background-color: white;
}
.navbar img {
    margin-right: 10px;
	vertical-align: middle;
	}


nav { 
	display: flex;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white ;
	list-style: none;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0px;
	width: 100%;
	z-index: 1;
}

.navbar{		
	display: flex;
	flex-wrap: nowrap;
	min-width: 35%;
	justify-content: flex-end;
	padding: 0;
	margin-right: 60px;
	
}

.navbar__kosz {
	border:1px solid #F2F3F4;
	row-gap: 10px;
	padding: 6px 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	max-height: 36px;
}

.navbar .navbar__kosz img {
	margin-right: 5px;
	border-right: 1px solid #F2F3F4;

}

.navbar__kosz > img:nth-child(1) {
	padding-right: 10px;
  }
  

.navbar__arrow {
	padding-left: 0px;
	padding-right: 0px;
	align-items: center;
	background-color: #9BCB3B;
	min-width: 30px;
	width: 60px;
	max-width: 35px;
	height: 49px;
	justify-content: center;
}

.arrow {
	margin-right: 0px !important;
}

li {
	display: flex;
	padding:0 20px;
	align-items: center;
}


b {
	text-decoration: none;
	font-weight: normal;
}
b:visited, b:link {
	color:black;
	text-decoration: none;
}
b:hover{
	cursor: pointer;
}
.navbot {
	padding-left: 0px;
	margin-bottom: 0px;
	display: flex;
	background-color: white;
	border-top: 1px solid #F2F3F4;
	align-items: center;
	height:50px;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 96px;
}

d{
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	width: 100%;
	
}
c{
	font-family: Metropolis-light;
	text-transform: lowercase;
	min-width: 69px;
}

@media (max-width: 900px) {
	.navbar, .navbot {
		display: none;
	}
	.nav{
		justify-content: center;
	}

}
