@font-face{
	font-family: 'Metropolis';
    src: url(../fonts/Metropolis-Bold.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
	font-family: 'Metropolis-light';
    src: url(../fonts/Metropolis-Light.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

// 985- mobile
// 1200- tablet
// 1200+ desktop

body{
	margin: 0;		
	font: normal normal 14px/14px Metropolis;
	text-transform: uppercase;
	letter-spacing: -0.28px;
	background-color: white;
}

.navbar img {
    margin-right: 10px;
	vertical-align: middle;
	}

nav { 
	display: flex;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: white ;
	list-style: none;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	left: 0;
	right: 0px;
	z-index: 1;
	border-bottom: 2px solid #F2F3F4;
}

.navbar{		
	display: flex;
	flex-wrap: nowrap;
	min-width: 35%;
	justify-content: flex-end;
	padding: 0;
	margin-right: 30px; //nie usuwać
}

.navbar__kosz {
	border:1px solid #F2F3F4;
	row-gap: 10px;
	padding: 6px 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	max-height: 36px;
}

.navbar .navbar__kosz img {
	margin-right: 5px;
	border-right: 1px solid #F2F3F4;

}

.navbar__kosz > img:nth-child(1) {
	padding-right: 10px;
  }
  

.navbar__arrow {
	padding-left: 0px;
	padding-right: 0px;
	align-items: center;
	background-color: #9BCB3B;
	min-width: 30px;
	width: 60px;
	max-width: 35px;
	height: 49px;
	justify-content: center;
}

.arrow {
	margin-right: 0px !important;
}

li {
	display: flex;
	padding:0 20px;
	align-items: center;
}

li:hover{
	cursor: pointer;
}

b {
	text-decoration: none;
	font-weight: normal;
}
b:visited, b:link {
	color:black;
	text-decoration: none;
}
b:hover{
	cursor: pointer;
}
.navbot {
	padding-left: 0px;
	margin-bottom: 0px;
	left: 0PX;
	display: flex;
	background-color: white;
	border-top: 1px solid #F2F3F4;
	align-items: center;
	height:50px;
	justify-content: space-around;
	position: fixed;
	width: 100%;
	z-index: 1;
	top: 96px;
}

d{
	display: flex;
	flex-direction: column;
	margin-right: 15px;
	width: 100%;
	
}
c{
	font-family: Metropolis-light;
	text-transform: lowercase;
	min-width: 69px;
}











.burger__menu {
	display: none;
	cursor: pointer;

}

.toggle-btn--icon {
	height: 50px;
	width: 50px;

} 

.burger__menu--aside{
	display: none;
	position: fixed;
	color: black;
	position: absolute;
	right: 0em;
	width: 100%;
	z-index: 1;
	height: 80%;
	top: 98px;
	left: 1000px;
	transition: 0.3s;
}	

.burger__menu--aside.open{
	height: 80%;
	top: 100px;
	left: 0px;	
	position: absolute;
}
 
.burger__menu--aside li{
	backdrop-filter: blur(7px);
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1rem;
	font-size: 1.7rem;
}







.navbarbot{
	position: fixed;
	display: none;
	background-color: white;
	bottom: 0px;
	width: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	z-index: 1;
	align-items: center;
}
.navbarbot img{
	height: 20%;
}



@media (max-width: 1001px) {
	
	.navbar, .navbot {
		display: none;
	}
	.burger__menu {
        display: block;
		z-index: 1;
    }
	.burger__menu--aside{
		display: block;
		z-index: 1;
	}
	.burger__menu--aside li{
		font-family: Metropolis-light;
		padding: 1rem;
		font-size: 1.7rem;
		border-bottom: 1px solid #F74137;
		line-height:1.7rem;
		z-index: 1;
	}
	.burger__menu--aside li:hover{
		background-color: rgba(0,0,0,0.1)
	}
	.navbarbot{
		display: flex;
		justify-content: space-around;
	}

}










