.body {
  font-family: "Metropolis", sans-serif;
}

.whyUs {
  overflow: hidden;
  position: relative;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
.whyUs__img {
  position: absolute;
  height: 100%;
}
.whyUs__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  top: 0;
}
.whyUs__content {
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.whyUs__heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
}
.whyUs__line {
  width: 100%;
  display: flex;
}
.whyUs__lineColorRed {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F74137;
  width: 60px;
  border-width: 0;
  height: 3px;
}
.whyUs__lineColorWhite {
  background-color: #fff;
  width: 100%;
  opacity: 0.1;
  border-width: 0;
  height: 1px;
}
.whyUs__paragraph {
  align-self: center;
  text-align: center;
  width: 100%;
  margin: 45px;
  font-size: 16px;
}
.whyUs__list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-direction: column;
  padding-left: 0px;
}
.whyUs__listItem {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.whyUs__listItemIcon {
  margin-bottom: 5px;
}
.whyUs__listItemSpan {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5px;
}
.whyUs__btn {
  font-weight: bold;
  padding: 20px;
  background-color: #F74137;
  border: 0;
  width: 50%;
  align-self: center;
  margin-top: 20px;
}
.whyUs__btnSpan {
  color: #FFF;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}
.whyUs__btnSpanAnchor {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 768px) {
  .whyUs__img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center top;
       object-position: center top;
    opacity: 0.5;
    width: 100%;
    height: auto;
  }
  .whyUs__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .whyUs__list {
    flex-direction: row;
  }
  .whyUs__listItem {
    width: 200px;
  }
  .whyUs__listItemIcon {
    margin-bottom: 5px;
  }
  .whyUs__listItemSpan {
    font-weight: bold;
    margin-top: 5px;
  }
  .whyUs__btn {
    width: 25%;
  }
}
@media (min-width: 1024px) {
  .whyUs__list {
    flex-direction: row;
  }
  .whyUs__listItem {
    width: 270px;
  }
  .whyUs__listItemIcon {
    margin-bottom: 10px;
  }
  .whyUs__listItemSpan {
    margin-top: 10px;
  }
}
@media (min-width: 1200px) {
  .whyUs {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .whyUs__heading {
    font-size: 44px;
  }
  .whyUs__paragraph {
    font-size: 18px;
    width: 53%;
  }
  .whyUs__listItem {
    width: 308px;
    height: 151px;
  }
  .whyUs__listItemSpan {
    font-size: 14px;
  }
  .whyUs__btn {
    width: 246px;
    height: 55px;
  }
  .whyUs__btnSpan {
    font-size: 14px;
  }
}/*# sourceMappingURL=whyUs.css.map */