* {
	margin: 0;
	padding: 0;
}
.responsive-mobile-first {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding: 1rem;
}
.responsive-mobile-first .products-mobile-first {
	display: flex;
	grid-gap: 1rem;
	max-width: 768px;
	width: 100%;
	overflow-x: auto;
	scroll-snap-type: x;
	cursor: grab;
	scroll-behavior: smooth;
}
.products-mobile-first .responsive-products-slider {
	min-width: calc(20% - 0.5rem);
	aspect-ratio: 1/1;
	height: 500px;
    width:100%;
	background-color: #F74137;
	display: grid;
    place-items: center;
	color: #fff;
    text-align: center;
	scroll-snap-align: start;
	font-weight: 600;
	user-select: none;
}
.products-mobile-first .responsive-products-slider h5{
    text-decoration: line-through;
    font-size: 15px;
    color:rgb(162, 162, 162)
}
.products-mobile-first .responsive-products-slider .basket-next-price {
    background: #9bcb3b 0% 0% no-repeat padding-box;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  @media (min-width: 630px) and (max-width: 782px) {
	.responsive-logo-lightbulbs{
		width: 100px;
	}
}

@media (min-width: 600px) and (max-width: 629px) {
	.responsive-logo-lightbulbs{
		width: 70px;
	}
    .responsive-products-slider {
        font-size: 15px;;
    }
}
@media (min-width: 522px) and (max-width: 599px) {
    .products-mobile-first .responsive-products-slider {
        height: 450px;
        width:200%;
        font-size: 12px;
        
    }
    .responsive-logo-lightbulbs {

        height:120px;
    }
}
@media (min-width: 490px) and (max-width: 521px) {
    .products-mobile-first .responsive-products-slider {
        height: 370px;
        
    }
    .responsive-products-slider {
        font-size: 12px;
    }
    .responsive-logo-lightbulbs{
		width: 70px;
        height:90px;
	}
    .responsive-products-wrapper {
        display:none;
    }
    .responsive-products-slider h5{
        display:none;
    }

}