* {
    box-sizing: border-box;
}

body {
    font-family: 'Metropolis', sans-serif;
    margin: 0;
    padding: 0;
}

.Slider {
    max-width: 80%;
    position: relative;
    margin: auto;
}

.SliderItem {
    display: none;
    position: relative;
}

.SliderItem img {
    width: 100%;
    vertical-align: middle;
    display: block;
}

.SliderItemNumber {
    position: relative;
}

.SliderItemText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Slider__buttonBack, .Slider__buttonNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.Slider__buttonBack {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.Slider__buttonNext {
    right: 0;
    border-radius: 0 3px 3px 0;
}
